#### Imports

In [1]:
import pandas as pd
import datetime
import numpy as np
from IPython.display import display, HTML
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('data/oil_stocks.csv')

#### Pre-Processing

In [ ]:
def process_data(data):
    data['date'] = pd.to_datetime(data['Date '], format='%d-%b-%Y')
    data.drop("Date ", axis=1, inplace=True)
    data.set_index("date", inplace=True)
    data.columns = data.columns.str.strip().str.replace(" ", "_")
    data.columns = data.columns.str.lower()
    data  = data[["open"]]
    data.sort_index(inplace=True)
    empty_df  = pd.DataFrame()
    empty_df.index = pd.date_range(datetime.datetime.strftime(data.index[0],format="%Y-%m-%d"),datetime.datetime.strftime(data.index[-1],format="%Y-%m-%d"),freq='D')
    data = pd.merge(data,empty_df,how='right',left_index=True,right_index=True)
    data.sort_index(inplace=True)
    # Your DataFrame
    df = pd.DataFrame({
        'col1': range(100),
        'col2': range(100, 200)
    })

    # Scrollable box (vertical and horizontal)
    html = df.to_html()
    display(HTML(f"""
    <div style="height:300px; width:100%; overflow:auto; border:1px solid #ccc">
        {html}
    </div>
    """))
    data.index.rename('Date',inplace=True)
    null_index = data.index.get_indexer(data[data["open"].isnull()].index)
    window_size = 2
    for i in null_index:
        # Get the slice of the DataFrame
        slice_df  = data.iloc[abs(i - window_size):i + window_size]
        fill_value = slice_df.mean()
        slice_df.fillna(fill_value,inplace=True)
    data.sort_index(inplace=True)
    # data.to_parquet("data/oil_stocks_cleaned.parquet", index=True)

In [3]:
def process_vector_data(data):
    data['date'] = pd.to_datetime(data['Date '], format='%d-%b-%Y')
    data.drop("Date ", axis=1, inplace=True)
    data.set_index("date", inplace=True)
    data.columns = data.columns.str.strip().str.replace(" ", "_")
    data.columns = data.columns.str.lower()
    data  = data[["open","high"]]
    data.sort_index(inplace=True)
    empty_df  = pd.DataFrame()
    empty_df.index = pd.date_range(datetime.datetime.strftime(data.index[0],format="%Y-%m-%d"),datetime.datetime.strftime(data.index[-1],format="%Y-%m-%d"),freq='D')
    data = pd.merge(data,empty_df,how='right',left_index=True,right_index=True)
    data.sort_index(inplace=True)
    # Your DataFrame
  

    # Scrollable box (vertical and horizontal)
    html = data.to_html()
    display(HTML(f"""
    <div style="height:300px; width:100%; overflow:auto; border:1px solid #ccc">
        {html}
    </div>
    """))
    data.index.rename('Date',inplace=True)
    null_index = data.index.get_indexer(data[data["open"].isnull()].index)
    window_size = 2
    for i in null_index:
        # Get the slice of the DataFrame
        slice_df  = data.iloc[abs(i - window_size):i + window_size]
        fill_value = slice_df.mean()
        slice_df.fillna(fill_value,inplace=True)
    data.sort_index(inplace=True)
    return data

In [4]:
vector_df = process_vector_data(data)

/tmp/ipykernel_34398/2980945048.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.sort_index(inplace=True)

/tmp/ipykernel_34398/2980945048.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slice_df.fillna(fill_value,inplace=True)

In [5]:
vector_df

              open        high
Date
2024-04-29  634.40  634.550000
2024-04-30  624.20  638.800000
2024-05-01  627.60  635.116667
2024-05-02  624.20  632.000000
2024-05-03  633.70  643.000000
...            ...         ...
2025-04-24  404.00  406.600000
2025-04-25  400.90  404.550000
2025-04-26  402.45  405.575000
2025-04-27  402.45  405.575000
2025-04-28  397.75  406.750000

[365 rows x 2 columns]

In [ ]:
# vector_df.to_parquet("data/vector_df.parquet", index=True)